<launch>
    
    <arg name="mobile_robot" />

    
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find semes_robot)/urdf/mobile_robot.urdf.xacro"/>
    

    <param name="gui" value="true"/>
    
    <node pkg="myahrs_driver" type="myahrs_driver" name="myahrs_driver" output="screen">
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud_rate" value="115200" />
    </node>

    <include file="$(find semes_robot)/launch/motor_driver_setup.launch"></include>

    <!-- <include file="$(find semes_robot)/launch/pose_ekf.launch"></include> -->

    <include file="$(find semes_robot)/launch/nanoscan3_setup.launch"></include>

    <!-- 
    <include file="$(find semes_robot)/launch/laserscan_merger.launch"></include>
    -->
    <include file="$(find semes_robot)/launch/slam_semes.launch"></include>
    


   
    <!-- Starting Joint state publisher node which will publish the joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="true"/>
    <!-- Starting robot state publish which will publish tf -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true"/>
    <!-- Launch visualization in rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find semes_robot)/urdf.rviz" required="True"/>

    <!-- <include file="$(find semes_robot)/launch/slam.launch"></include> -->


</launch>

