<launch>
    <param name="/use_sim_time" value="true" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find mobile_robot)/urdf/mobile_robot.urdf.xacro" />

    <!-- <arg name="localization" default="false"/> -->
    <arg name="bag_filenames"/>
    <!-- Mapping -->
    <!-- <arg name="cartographer_config_filename" default="cartographer_config.lua"/>
    <arg name="sec_config_filename" default="sec_config.lua"/>
    <arg name="load_state_filename"/>
    <arg name="start_trajectory_with_sec_options" default="false"/>  -->
    <!-- True, if SEC Mode -->
    
    <node name="rviz" pkg="rviz" type="rviz" required="true"
        args="-d $(find mobile_robot)/rviz/rviz_config_simulation.rviz" />
    
    <!-- <node name="cartographer_occupancy_grid_node"
            pkg="cartographer_ros" 
            type="cartographer_occupancy_grid_node"
            args="-resolution 0.05"/>

    <group if="$(arg localization)">
      <node name="cartographer_node" pkg="cartographer_ros"
              type="cartographer_node"
              args="-configuration_directory $(find mobile_robot)/configuration_files
                    -configuration_basename $(arg cartographer_config_filename)
                    -sec_configuration_basename $(arg sec_config_filename)       
                    -load_state_filename $(find mobile_robot)/assets/state/$(arg load_state_filename)       
                    -start_trajectory_with_sec_options = $(arg start_trajectory_with_sec_options)
                    "
              output="screen">
          <remap from="scan_1" to="f_scan_rep117"/>
          <remap from="scan_2" to="b_scan_rep117"/>
          <remap from="imu" to="imu/data" />
      </node>
    </group>

    <group unless="$(arg localization)">
      <node name="cartographer_node" pkg="cartographer_ros"
              type="cartographer_node"
              args="-configuration_directory $(find mobile_robot)/configuration_files
                    -configuration_basename $(arg cartographer_config_filename)
                    -sec_configuration_basename $(arg sec_config_filename)              
                    "
              output="screen">
          <remap from="scan_1" to="f_scan_rep117"/>
          <remap from="scan_2" to="b_scan_rep117"/>
          <remap from="imu" to="imu/data" />
      </node>
    </group> -->
    
    <!-- rosbag -->
    <node name="play" pkg="rosbag" type="play" args="--clock $(find mobile_robot)/assets/bag/$(arg bag_filenames).bag" />

</launch>